<!DOCTYPE html>
<header class="header" id="header">
    <link rel="stylesheet" href="/stylesheets/options.css">
    <nav class="fixed-top navbar-light bg-light navbar-expand" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/auth/movies">
        Movies
          </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/auth/random">
        Random Users Just Cause
          </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/api/users/logout">
        logout
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <body>
  <div class="welcome" id="welcome">
      <div class="welcome_txt  group">
        <h1>
          
           
            Welcome <%= user.name %> 
         
        </h1>
        <p>
            Strength does not come from winning. Your struggles develop your strengths. When you go through hardships and decide not to surrender, that is strength.” – Arnold Schwarzenegger
        </p>
      </div>
  
      </div>
    </div>
    <div class="contact ct group" id="contact">
        <a id="Facebook" href="https://www.facebook.com/drzjunito16" target="blank">
           <img class="button-size" src="https://drive.google.com/uc?export=view&id=1UwVAmLXDHWntAQckRXzfGgHb6Zu1mq8L" alt="Facebook Logo">
        </a>
        <a id="GitHub" href="https://github.com/hectorcarrasco1992" target="blank">
           <img class="button-size" src="https://drive.google.com/uc?export=view&id=1cr1AYxAVwrEORZpFpbvWHbqb98oveyDg" alt="GitHub Logo">
        </a>
        <a id="LinkedIn" href="https://www.linkedin.com/in/charlie-huckins" target="blank">
           <img class="button-size" src="https://drive.google.com/uc?export=view&id=1jpqBgzVLIjSO0At2B8-_E2qwSLeh1gRs" alt="LinkedIn Logo">
        </a>
        <a id="Gmail" href="mailto:hector.carrasco@codeimmersives.com?subject=Reaching%20Out" target="blank">
           <img class="button-size shrink" src="https://drive.google.com/uc?export=view&id=1SmtWgsNLKsBVc-bURWPuyOI3CiLFGgWX" alt="Gmail Logo">
         </a>
      <a class="fcc" href="https://www.freecodecamp.org/charliehuckins" target="blank">
        <i class="fab fa-free-code-camp size:3x"></i>
      </a>
    </div>
    <a href="https://www.vecteezy.com">Vector illustration credit: Vecteezy.com</a>
    <a href="https://fontawesome.com/license/free"> and fontawesome.com</a>
  </body>
